.challengeTitle {
  font-family: var(--font-comfortaa);
  font-weight: bold;
  font-size: 5.5rem;
  height: 5.5rem;

  display: inline-block;
  position: relative;
}

.challengeTitle span {
  font-size: 1.52rem;

  bottom: 8px;
  right: -60px;
  position: absolute;
}

.challengeCardBlue {
  color: #1fcff1;
}

.challengeCardGreen {
  color: #19fb9b;
}

.challengeCard3 {
  color: #ff00ff;
}

.challengeCard4 {
  color: #ff0000;
}

.challengeCard5 {
  color: #ffd700;
}

.challengeCard6 {
  color: #1e90ff;
}

.challengeDescription {
  font-family: var(--font-lato);
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  padding-bottom: 8px;
  color: var(--black);
}

.challengeDate {
  font-family: var(--font-lato);
  font-weight: normal;
  font-size: 1.2rem;

  color: var(--gray-200);
}
