.container {
  padding: 64px 0;
}

.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 48px;
}

.filters button {
  padding: 0.5rem 1rem;
  cursor: pointer;

  font-family: var(--font-lato), sans-serif;
  letter-spacing: 1px;
  font-size: 1.2rem;
  border-size: 1px;
  border-style: solid;
  border-radius: 12px;

  color: var(--white);
}

.normalButton {
  background: #434791;
  border-color: #434791;
}

.normalButton:hover {
  background: #686cb9;
  border-color: #686cb9;
}

.buttonActive {
  background: #1cc97f;
  border-color: #1cc97f;
}

.buttonActive:hover {
  background: #32e699;
  border-color: #32e699;
}

.info {
  margin-bottom: 12px;
}

.info h2 {
  color: rgb(10, 17, 59);
  font-family: var(--font-lato), sans-serif;
  font-weight: 400;
}

.table {
  width: 100%;
  border-collapse: separate; /* necessário para o border-radius funcionar */
  border-spacing: 0; /* remove espaçamento extra */
  table-layout: fixed;
  border: 1px solid #4e54a3; /* borda externa completa */
  border-radius: 12px;
  overflow: hidden;
}

/* Definindo largura fixa por coluna */
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 20%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  width: 15%;
}
.table th:nth-child(3),
.table td:nth-child(3) {
  width: 15%;
}
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 15%;
}
.table th:nth-child(5),
.table td:nth-child(5) {
  width: 20%;
}
.table th:nth-child(6),
.table td:nth-child(6) {
  width: 15%;
}

/* Células com apenas divisões horizontais internas */
.table th,
.table td {
  border-bottom: 1px solid #4e54a3; /* apenas linhas horizontais */
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Mostrar linha superior do thead */
.table thead th {
  border-bottom: 1px solid #4e54a3;
  background-color: #4e54a3;

  color: var(--white);
  font-family: var(--font-comfortaa), sans-serif;
  font-size: 1.2rem;
  padding: 16px 8px;
}

.table td {
  color: var(--black);
  font-family: var(--font-lato), sans-serif;
  font-size: 1.1rem;
}

/* Centralizar a última coluna */
.table td:last-child,
.table th:last-child {
  text-align: center;
}

/* Aplicar border-radius nas extremidades */
.table thead th:first-child {
  border-top-left-radius: 12px;
}
.table thead th:last-child {
  border-top-right-radius: 12px;
}
.table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
