.challengesContainer {
  width: 100%;
  height: 100vh;

  /* background: var(--black); */
}

.challengesContent {
  width: 1180px;
  height: 100%;

  margin: 0 auto;

  display: flex;

  padding: 5rem 0;
}

.challengesDetails {
  width: 61%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 12px;
}

.challengesHeader {
  width: 39%;
}

.challengesHeader h2 {
  font-family: var(--font-comfortaa);
  font-weight: bold;
  font-size: 2.8rem;
  color: var(--black);

  line-height: 1.5;
  padding-bottom: 24px;
}

.challengesHeader ul {
  list-style-position: inside;
  /* padding: 0; */
}

.challengesHeader li {
  margin-bottom: 12px;
  line-height: 1.5;
}

.challengesHeader li p {
  display: inline;
}

.challengesHeader p {
  font-family: var(--font-lato);

  font-size: 1.5rem;
  color: var(--black);

  /* line-height: 1.2;
   */
}

.challengesHeader > p:first-of-type {
  padding-bottom: 20px;
}
