.howItWorksContainer {
  margin-bottom: 108px;
}

.howItWorksContent {
  width: 1180px;
  margin: 0 auto;
}

.headerTitle {
  margin-bottom: 48px;
}

.headerTitle h2 {
  font-family: var(--font-comfortaa), sans-serif;
  font-size: 3rem;

  color: var(--black);
}
